body {
	padding: 0px;
	margin: 0px;
}

table {
	margin: 0px;
	padding: 0px;
	width: 100%;
	text-align: center;
}

hr {
	width: 80%;
}

.header {
	background-color: #eeeeee;
	border-style: solid;
	border-color: #cccccc;
	border-width: 1px;
	padding: 10px;
	margin: 5px;
}	

.footer {
	background-color: #eeeeee;
	border-style: solid;
	border-color: #cccccc;
	border-width: 1px;
	padding: 10px;
	margin: 5px;
}

.content {
	margin: 0px 5px;
	padding: 0px;
	border-style: solid;
	border-color: #cccccc;
	border-width: 1px;
}

.editHeader {
	background-color: #eeeeee;
	border-style: solid;
	border-color: #cccccc;
	border-width: 1px;
	margin-top: 5px;
	padding: 5px;
	height: 38px;
}

.row {
	margin: 0px;
	padding: 0px;
}

#chartLine_div {
	height: 400px;
}

#timer_div {
	font-family: monospace; 
	font-size: 48px;
}

#joystick {
	border: 1px solid #9C9898;
}
