body {
	padding: 0px;
	margin: 0px;
}

.header {
	background-color: #b8cff5;
	padding: 10px;
	margin: 5px;
}	

.footer {
	background-color: #b8cff5;
	padding: 10px;
	margin: 5px;
}

.content {
	margin: 0px 5px;
	padding: 0px;
	border-style: solid;
	border-color: #b8cff5;
	border-width: 1px;
}

.editHeader {
	background-color: #eeeeee;
	margin-top: 5px;
	padding: 5px;
}

.row {
	margin: 0px;
	padding: 0px;
}

#chartLine_div {
	height: 400px;
}

table {
	margin: 0px;
	padding: 0px;
	width: 100%;
	text-align: center;
}

hr {
	width: 80%;
}